.footer{
  background-color: #30aee3;;
  width: 100%;
  display: grid;
  grid-template-columns: 4rem 1fr 2fr 1fr 4rem;
  color: white;
  padding-top: 2%;
}

.footer-links{
  display: flex;
  justify-content: center;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.social-media{
  margin-left: 10%;
}

.social-media-icons a {
  margin-right: 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.company-logo img {
  max-width: 100px;
  height: auto;
}

.contact-us ul {
  list-style: none;
}

li {
  list-style: none;
  font-size: 25px;
}

.sep-link-footer{
  color: #fff;
}

.footer-logo{
  display: grid;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
  height: 6rem;
  margin-left: 5%;
}

.footer-logo-img{
  width: 25%;
}

.footer-links{
  grid-column: 3/4;
}

.social-media{
  grid-column: 4/5;
}

.nav-login ul li{
  text-align: right;
}

.social-media ul li:first-child{
  grid-column: 2/3;
}