.main-nav{
  background-color: #30aee3;;
  width: 100%;
  height: 6rem;
  display: grid;
  grid-template-columns: 4rem 1fr 3fr 1fr 4rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1000;
}

li {
  list-style: none;
  font-size: 25px;
}

.sep-link{
  color: #fff;
}

.nav-links li :hover{
  border-bottom: 5px solid white;
}

.nav-logo{
  display: grid;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
  height: 6rem;
}

.nav-links{
  grid-column: 3/4;
}

.nav-links ul {
  height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-login{
  grid-column: 4/5;
}

.nav-login ul{
  height: 6rem;
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  align-items: center;
}

.nav-login ul li{
  text-align: right;
}

.nav-login ul li:first-child{
  grid-column: 2/3;
}

.hamburger-menu{
  display: none;
}

@media (max-width: 1080px) {
  .main-nav {
    width: 100%;
    height: 4rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }

  .nav-logo,
  .nav-links ul,
  .nav-login ul {
    height: 4rem;
  }

  li{
    font-size: 15px;
  }
}

@media (max-width: 998px) {
  .main-nav {
    width: 100%;
    height: 7rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .nav-links {
    display: none;
  }

  .nav-logo,
  .nav-login ul {
    height: 7rem;
  }

  .sep-link{
    color: #000000;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-color: white;
    height: 20rem;
    display: grid;
    /* grid-column: 2/5; */
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .nav-login {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .nav-login .nav-login-desktop{
    height: 0;
    display: none;
  }

  .nav-login {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .nav-login .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}
