.cheetsheet{
    margin: 2%;
}

.cheetsheet-heading{
    text-align: center;
}

.cheetsheet-table{
    display: flex;
    justify-content: center;
}

.cheetsheet-tablecontent {
    /* border-collapse: collapse; */
    font-size: 0.9 em;
    width: 80%;
    /* border: 1px solid; */
}

.cheetsheet-tablecontent thead tr {
    background-color: #b4d4fd;
    color: rgb(8, 8, 8);
}

.cheetsheet-tablecontent th {
    text-align: center;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.cheetsheet-tablecontent th,
.cheetsheet-tablecontent td {
    text-align: center;
    padding: 15px;
}

.cheetsheet-tablecontent td {
    padding: 15px !important;
    font-size: 20px;
    background-color: rgb(243, 243, 250);
    border-right: 1px solid;
}
