.sheet {
    display: flex;
}

.MainContentsheet {
    margin-left: 2%;
}

.BigO_Table Td,
.BigO_Table Th,
.Array_Table Td,
.Array_Table Th {
    border: 1px solid #ddd;
    padding: 8px;
}

.Data_Structures {
    margin-top: 2%;
}

.Algorithms {
    margin-top: 2%;
}

.Sorting {
    margin-top: 2%;
}

.Searching {
    margin-top: 2%;
}

.DataStructuresMainHeading {
    text-align: center;
    padding: 2%;
    background-color: #dae9f5;
    scroll-margin-top: 200px;
}

.AlgorithmsMainHeading {
    text-align: center;
    padding: 2%;
    background-color: #dae9f5;
    scroll-margin-top: 200px;
}

.SortingMainHeading {
    text-align: center;
    padding: 2%;
    background-color: #dae9f5;
    scroll-margin-top: 200px;
}

.SearchingMainHeading {
    text-align: center;
    padding: 2%;
    background-color: #dae9f5;
    scroll-margin-top: 200px;
}

.DataStructuresSubHeading {
    margin-top: 2%;
}

.AlgorithmsSubHeading {
    margin-top: 2%;
}

.SortingSubHeading {
    margin-top: 2%;
}

.SearchingSubHeading {
    margin-top: 2%;
}

.Data_Structures ul {
    margin: 2%;
}

.Algorithms ul {
    margin: 2%;
}

.Sorting ul {
    margin: 2%;
}

.Searching ul {
    margin: 2%;
}