.body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fffbf0;
    font-family: 'Poppins', sans-serif;
    padding: 70px;
}

.card {
    position: relative;
    width: 250px;
    height: 100px;
    background: #fff 0 0 no-repeat padding-box;
    box-shadow: 0 0 22px rgba(0, 0, 0, .10196078431372549);
    border-radius: 27px;
    margin: 17.5px;
    border-left: 5px solid #26a69a;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
}

.Features-inner-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    padding: 10px;
}

.icon {
    position: relative;
    width: 200px;
    height: 200px;
}

.inner-card-heading {
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 0;
    color: #424242;
    opacity: 5;
    font-weight: 500;
    position: relative;
}

.inner-card-subheading {
    margin-top: 20px;
    letter-spacing: 0;
    color: #858585;
    opacity: 1;
    font-size: 14px;
}

.icon-outer {
    position: absolute;
    margin-top: -150px;
    margin-left: -90px;
    opacity: 0.3;
    width: 383px;
    height: 259px;
    border-radius: 27px;
}

.left {
    float: left;
}

.right {
    float: right;
}