/* ------------First container quote + image-----------------   */
.Main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Space between heading and image */
    padding: 20px;
    background-color: #fff;
}

.heading {
    /* flex: 1; */
    margin-left: 50px;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 27px;
    font-weight: 260;
}

.heading .p {
    margin-left: 70px;
}

.image {
    flex: 1;
    /* Take up available space */
    text-align: right;
}

.image img {
    max-width: 85%;
    height: auto;
}

.hoverbutton {
    padding: 0.5em 1.9em;
    margin-left: 110px;
    border: 2px solid #30aee3;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #30aee3;
}

.hoverbutton::before {
    content: '';
    width: 0;
    height: 399%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #30aee3;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.hoverbutton:hover::before {
    width: 120%;
}

.hoverbutton:hover {
    color: #111;
}

.box {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem 0;
}

.grid1 {
    gap: 15px;
    display: flex;
    align-items: center;

}

.grid2 {
    gap: 15px;
    display: flex;
    align-items: center;

}

.grid3 {
    gap: 15px;
    display: flex;
    align-items: center;

}

.grid4 {
    gap: 15px;
    display: flex;
    align-items: center;

}

.icon-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0.875rem;
    background-color: #f184a0;
    height: 62px;
    width: 62px;
}

.icon-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0.875rem;
    background-color: #ffd42e;
    height: 62px;
    width: 62px;
}

.icon-container3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0.875rem;
    background-color: #9775fa;
    height: 62px;
    width: 62px;
}

.icon-container4 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0.875rem;
    background-color: #25cd71;
    height: 62px;
    width: 62px;
}

.box-heading1 {
    font-size: .875rem;
    font-weight: 600;
    width: calc(100% - 64px);
}

.box-heading2 {
    font-size: .875rem;
    font-weight: 600;
    width: calc(100% - 64px);
}

.box-heading3 {
    font-size: .875rem;
    font-weight: 600;
    width: calc(100% - 64px);
}

.box-heading4 {
    font-size: .875rem;
    font-weight: 600;
    width: calc(100% - 64px);
}