.user-home {
  overflow-x: scroll;

  .user-homeContainer {

    .user-widgets {
      display: flex;
      padding: 20px;
      gap: 20px;
    }
  }

  .homeWidgets {
    margin: 20px;
  }

  .homeWidgets2 {
    display: flex;
    margin: 20px;
  }
}