/* .carousel-container{
    background-color: rgb(253, 157, 232);
    padding: 5%;
} */

.carousel-container h1{
    text-align: center;
}

.main-carousel{
    width: 80% !important;
    margin: auto;
    height: auto;
}

.main-carousel img{
    border-radius: 5px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
}
